<style>
body{

	background-image: url('http://edudemic.com/wp-content/uploads/2012/08/blog.jpg');
}
</style>

<div>
	<%= link_to 'Category', categories_path %>
</div>
<div>
	<%= link_to 'Blog Entry', blog_entries_path %>
</div>