<style>
body{

	background-image: url('http://hdwallpaperswala.com/wp-content/uploads/2014/01/lok_sabha_india_hd_images_computer_background.jpg');
}
</style>
<h1>Category</h1>
<div style="height: 40px">
	<label>Name:</label><span><%= @category.name%></span>
</div>
<div style="height: 40px">
	<label>Description:</label><span><%= @category.description%></span>
</div>
